.control {
    position: relative;
    float: left;
    width: 25%;
    padding: 0 10px;
}

@media (max-width: 600px) {
    .control {
        float: none;
        width: auto;
        margin: 0 0 15px 0;
    }
    .control.layout {
        margin: 0;
    }
}


/* Grid */

.grid {
    position: relative;
    width: 100%;
    /* max-width: 960px; */
    /* max-width: 2536px; */
    margin: 0 +5px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.item {
    position: absolute;
    /* width: 517px; */
    width: 20%;
    height: 636px;
    line-height: 100px;
    /* margin: 10px; */
    z-index: 1;
}

.myBut {
    z-index: 2;
}

.item.h1 {
    /* width: 507px; */
    height: 636px;
}

.item.h2 {
    /* width: 284px; */
    height: 536px;
}

.item.h3 {
    /* width: 284px; */
    height: 436px;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 0.5px solid; */
}

.item-contentModal {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 0.5px solid; */
}

.item.muuri-item-placeholder .card {
    border-style: dashed;
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.card-box {
    height: 30px;
    border: 0.5px solid;
    z-index: 999;
}

.card-remove {
    /* display: none; */
    display: inline-block;
    vertical-align: top;
    line-height: inherit;
    font-size: inherit;
    position: absolute;
    left: 3px;
    top: 460px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    /* border: 0.5px solid; */
    /* background-color: rgb(220, 220, 220); */
    z-index: 999;
    /* -webkit-filter: blur(8px); */
}

.card-add {
    /* display: none; */
    display: inline-block;
    vertical-align: top;
    line-height: inherit;
    font-size: inherit;
    position: absolute;
    left: 3px;
    top: 480px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    /* border: 0.5px solid; */
    /* background-color: rgb(117, 255, 25); */
    /* background-color: rgb(220, 220, 220); */
    z-index: 999;
}

button {
    width: 20px;
    height: 20px;
    text-align: center;
    border: solid;
    left: 300px;
}

.card-expand {
    /* display: none; */
    display: inline-block;
    vertical-align: top;
    line-height: inherit;
    font-size: inherit;
    position: absolute;
    left: 3px;
    top: 80%;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    /* background-color: rgb(220, 220, 220); */
    /* border: 0.5px solid; */
    z-index: 999;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    /* background: rgb(240, 240, 240); */
}

.material-icons {
    display: inline-block;
    vertical-align: top;
    line-height: inherit;
    font-size: inherit;
}

.btn {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    background: #4a9ff9;
    color: #fff;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 3px;
}

#content.h2 {
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    /* min-height: calc(100vh - 35px); */
    height: 636px;
}

#content.w2 {
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    /* min-height: calc(100vh - 35px); */
    height: 536px;
}