/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes html {
    box-sizing: border-box
} */

body {
    margin: 0
}


/* button {
    width: 20px;
    height: 20px;
    text-align: center;
    border: solid;
    border-width: 1px;
    left: 300px;
} */


/* 
.expand {
    border-radius: 20px;
    border-width: 0.1px;
} */


/* a:active,
a:hover {
    outline-width: 0
} */


/* abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
} */

button,
input,
select,
textarea,
optgroup {
    font-family: 'Grotesk-Remix-reg', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0
}


/* button,
input {
    overflow: visible
} */


/* button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
} */


/* html,
body {
    font-family: Verdana, sans-serif;
    line-height: 1.5
} */

.w3-btn,
.w3-button {
    border: solid;
    border-width: 0.5px;
    display: inline-block;
    padding: top 1px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-size: 12px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    z-index: 999;
}

.w3-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


/* .w3-btn,
.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
} */

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.w3-modal-content {
    margin: auto;
    position: relative;
    padding: 0;
    outline: 0;
    width: 60px;
    border-radius: 5px !important;
}


/* .w3-show-block,
.w3-show {
    display: block!important
} */


/* .w3-show-inline-block {
    display: inline-block!important
} */


/* @media (max-width:1205px) {
    .w3-auto {
        max-width: 95%
    }
} */


/* @media (max-width:600px) {
    .w3-modal-content {
        margin: 0 10px;
        width: auto!important
    }
    .w3-modal {
        padding-top: 30px
    }
    .w3-dropdown-hover.w3-mobile .w3-dropdown-content,
    .w3-dropdown-click.w3-mobile .w3-dropdown-content {
        position: relative
    }
    .w3-hide-small {
        display: none!important
    }
    .w3-mobile {
        display: block;
        width: 100%!important
    }
    .w3-bar-item.w3-mobile,
    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-click.w3-mobile {
        text-align: center
    }
    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-hover.w3-mobile .w3-btn,
    .w3-dropdown-hover.w3-mobile .w3-button,
    .w3-dropdown-click.w3-mobile,
    .w3-dropdown-click.w3-mobile .w3-btn,
    .w3-dropdown-click.w3-mobile .w3-button {
        width: 100%
    }
} */

@media (min-width:90px) {
    .w3-modal-content {
        width: 80%
    }
}

.w3-display-topright {
    background-color: rgb(228, 228, 228);
    position: absolute;
    right: 40px;
    top: 0;
}